@font-face {
  font-family: myFirstFont;
  src: url("./img/Comicy.otf");
}

body {
  margin: 0;
  font-family: myFirstFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./img/Pet_Shop.jpg");
  background-size: 100%;
  font-size: larger;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a{
  text-decoration: none;
  color: rgba(159, 36, 159, 0.816);
}
.fullName {
  color: black;
}
form {
  background-color: rgb(109, 176, 234);
  width: fit-content;
}
.Form {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.Navbar {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: static;
}

.btn {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  background-color: rgb(234, 234, 144);
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  background-color: rgb(109, 231, 111);
  width: fit-content;
}

h3 {
  width: fit-content;
  background-color: rgb(109, 231, 111);
}
.Products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  background-color: rgb(109, 176, 234);
  width: 50%;
  
 
}
.intro{
  display: flex;
  justify-content: center;
}
